@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = Localizer["O mnie"];
}

<h1>@Localizer["Mam na imię Jaś Fasola"]</h1>
<h2>@Localizer["A to jest strona o różnych rzeczach"]</h2>
