@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@{
    ViewData["Title"] = Localizer["Strona główna"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Witajcie"]</h1>
    <p>@Localizer["Przeczytaj na temat <a href=\"{0}\">tworzenia aplikacji Web z użyciem ASP.NET Core</a>.", "https://docs.microsoft.com/aspnet/core"]</p>
</div>
