@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@{
    ViewData["Title"] = Localizer["Polityka Prywatności"];
}
<h1>@ViewData["Title"]</h1>

<p>@Localizer["Użyj tej strony aby wyświetlić szczegóły polityki prywatności."]</p>
